@import url(http://fonts.googleapis.com/css?family=Roboto:300);
.so-widget-sow-headline-sow-headline-6c1393e4b462 #sow-headline-container.sow-headline h1 {
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-6c1393e4b462 #sow-headline-container.sow-headline h4 {
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-6c1393e4b462 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20pxpx 60pxpx;
}