@import url(http://fonts.googleapis.com/css?family=Roboto);
.so-widget-sow-headline-sow-headline-a032a58f53eb #sow-headline-container.sow-headline h1 {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-a032a58f53eb #sow-headline-container.sow-headline h3 {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-a032a58f53eb #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 40pxpx 30pxpx;
}