@import url(http://fonts.googleapis.com/css?family=Roboto);
.so-widget-sow-features-features-472d7d950fae .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Roboto;
  font-weight: 400;
  font-size: px;
  
}
.so-widget-sow-features-features-472d7d950fae .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Roboto;
  font-weight: 400;
  font-size: px;
  
}
.so-widget-sow-features-features-472d7d950fae .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: px;
  
}