@import url(http://fonts.googleapis.com/css?family=Roboto);
.so-widget-sow-headline-sow-headline-35a1917c2e6d #sow-headline-container.sow-headline h1 {
  font-family: Roboto;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-35a1917c2e6d #sow-headline-container.sow-headline h4 {
  font-family: Roboto;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-35a1917c2e6d #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20pxpx 60pxpx;
}