@import url(http://fonts.googleapis.com/css?family=Roboto);
.so-widget-sow-headline-sow-headline-6036b63800b8 #sow-headline-container.sow-headline h1 {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-6036b63800b8 #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-6036b63800b8 #sow-headline-container.sow-headline .decoration {
  border-top: thin solid #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20pxpx 60pxpx;
}